* {
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    background-color: rgba(215, 213, 213, 0.84);
   height: 1000px;
    overflow: auto;
}
#nav-bar {
    position: fixed;
    width: 100%;
    background-color: darkgray;
    display: flex;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    border-bottom: 2px solid black;
    z-index: 2;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: darkgray;
    border-top: 2px solid black;
}
#footer-bar{

    display: flex;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
}
#nav-bar ul {
    box-sizing: border-box;
}
#nav-bar ul:nth-of-type(1) {
    list-style-type: none;
    display: flex;
    font-weight: bold;
    padding: 0;
    margin: 0;
    align-items: center;
}
#nav-bar ul:nth-of-type(2) {
    list-style-type: none;
    display: flex;
    padding: 0 0 0 2em;
    margin: auto;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}
#nav-bar ul:nth-of-type(3) {
    list-style-type: none;
    display: flex;
    font-weight: bold;
    padding: 0;
    margin-left: auto;
    align-items: center;
}
#footer-bar ul:nth-of-type(1) {
    list-style-type: none;
    display: flex;
    font-weight: bold;
    padding: 0;
    margin: 0;
    align-items: center;
}
#footer-bar ul:nth-of-type(2) {
    list-style-type: none;
    display: flex;
    padding: 0 0 0 3em;
    margin: auto;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}
#footer-bar ul:nth-of-type(3) {
    list-style-type: none;
    display: flex;
    font-weight: bold;
    padding: 0;
    margin-left: auto;
    align-items: center;
}
#footer-bar div:nth-of-type(2) ul {
    display: flex;
}
.bottom-footer {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    height: 5em;

}
.li-sizing {
    padding: .25em 1em;

}
a {
    text-decoration: none;
    display: inline;
    color: #000000;
}
a:hover {
    color: blue;
    opacity: .3;
}
hr {
    border: 1px solid black;
    margin: 0 5em;
}
#content {
    position: absolute;
    top: 90px;
}