body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
    background-color: #a9bbd2;
}

.message {
    width: calc(100% - 60px);
    border: 1px solid;
    border-radius: 5px;
    margin: 1em auto;
    padding: 10px;
}

.message-info {
    background-color: var(--bg-info-background-color);
    color: var(--bg-text-color);

}

.message-success {
    background-color: var(--bg-success-background-color);
    color: var(--text-success-color);
}

.message-warning {
    background-color: rgba(234, 234, 134, 0.84);
    color: #7c7c0b;
}

.message-error {
    background-color: rgba(253, 59, 59, 0.71);
    color: #880f0f;
}

:root {
    --bg-info-background-color: rgba(79, 79, 246, 0.62);
    --bg-text-color: #11117c;

    --bg-success-background-color: rgba(56, 248, 121, 0.53);
    --text-success-color: #1f8c45;
}
