* {
    margin: 0;
    padding: 0;
}

#main-heading {
    width: 100%;
    height: 64px;
    background-color: #161b22;
    position: relative;
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: bold;
}

#main-body {
    padding: 100%;
    background-color: #0e1116;
}

#top-search-area {
    padding: 18px;
}

#search {
    padding: 0px 12px;
    background-color: #171616;
    border: 1px #c7c7c7 solid;
    border-radius: 5px;
    width: 270px;
    height: 28px;
    color: white;
    float: left;
}

::placeholder {
    color: white;
}

.github-logo-main {
    padding: 1em;
    width: 32px;
    height: 32px;
    left: 8px;
    float: left;
}
.top-header-links{
    display: inline;
    float: left;
    padding: 0 12px;
    margin-top: 6px;
}
.top-header-links-color {
    color: white;
    text-decoration: none;
}
.bellicon:hover, .top-header-links-color:hover {
    opacity: .3;
}
.bellicon {
    padding-top: 5px;
    margin: 0 1em;
    float: right;
}
