body{
    background-color: #121212;
}
#map {
    /* the width and height may be set to any size */
    width: calc(49% + 3px);
    height: 495px;
    position: absolute;
    bottom: 4px;
    right: 10px;
    border-radius: 5px;
}
.test {
    height: 700px;
}
.weekly-containers {
    max-height: 100px;
    background-color: #404040;
    color: #ffffff;
    border-radius: 5px;
}
.card {
    background-color: #121212;
    color: #ffffff;
    border-radius: 5px;
    padding-right: 10px;
}
.card-header {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(179, 179, 179, 0.5);
    border-radius: 0 0 5px 5px;
}
.card-body {
    background-color: #404040;
    padding: 4px 8px;
}
.btn {
    width: 100%;
    background-color: #181818;
    color: #ffffff;
}
.bigger-text{
    font-size: 42px;
}
.smaller-text {
    font-size: 12px;
}
img {
    width: 75px;
    height: 75px;
}